Repository oscarsr96/arbitros: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Actualizar leccion de medir-antes-de-optimizar con drift del indice de memoria
  tasks/lessons.md
Due: prettier --write

Documentar diagnostico de rendimiento del solver en todo.md
  tasks/todo.md
Due: prettier --write

Anadir migracion one-off de distanceKm en designaciones (T6)
  scripts/migrate-designation-distances.ts
Due: none

Planificar Fase 4 y registrar tarifas oficiales de arbitraje (p.25)
  tasks/fase4-tarifas-oficiales.md
  tasks/todo.md
Due: prettier --write

Cerrar Fase 4.0: designaciones reales + smoke de reportes
  apps/web/src/app/api/admin/reports/__tests__/route.real-data.test.ts
  tasks/todo.md
Due: eslint --fix, prettier --write

reports: honorarios oficiales + agregaciones por ventana (fix P6)
  apps/web/src/app/(admin)/layout.tsx
  apps/web/src/app/(admin)/reportes/page.tsx
  apps/web/src/app/(admin)/reportes/reportes-view.tsx
  apps/web/src/app/(portal)/perfil/profile-view.tsx
  apps/web/src/app/api/admin/reports/__tests__/route.fees.test.ts
  apps/web/src/app/api/admin/reports/__tests__/route.real-data.test.ts
  apps/web/src/app/api/admin/reports/__tests__/route.test.ts
  apps/web/src/app/api/admin/reports/route.ts
  apps/web/src/lib/__tests__/designation-fees.test.ts
  apps/web/src/lib/__tests__/match-query.test.ts
  apps/web/src/lib/designation-fees.ts
  apps/web/src/lib/export-pdf.ts
  apps/web/src/lib/fbm-calendar/__tests__/category-coverage.test.ts
  apps/web/src/lib/fbm-calendar/bases-fbm.ts
  apps/web/src/lib/match-query.ts
  apps/web/src/lib/mock-data-client.ts
  apps/web/src/lib/mock-data.ts
  tasks/todo.md
Due: eslint --fix, prettier --write

reports: liquidacion mensual por mes natural + exports por dia
  apps/web/src/app/(admin)/reportes/reportes-view.tsx
  apps/web/src/app/api/admin/reports/__tests__/route.monthly-liquidation.test.ts
  apps/web/src/app/api/admin/reports/__tests__/route.real-data.test.ts
  apps/web/src/app/api/admin/reports/__tests__/route.test.ts
  apps/web/src/app/api/admin/reports/route.ts
  apps/web/src/lib/__tests__/export-pdf.test.ts
  apps/web/src/lib/__tests__/export-xlsx.test.ts
  apps/web/src/lib/export-pdf.ts
  apps/web/src/lib/export-xlsx.ts
  tasks/todo.md
Due: eslint --fix, prettier --write

reports: historial de temporada por persona + honorarios en exports
  apps/web/src/app/(admin)/personal/person-detail-sheet.tsx
  apps/web/src/app/(admin)/reportes/reportes-view.tsx
  apps/web/src/app/(portal)/perfil/profile-view.tsx
  apps/web/src/app/api/admin/persons/[id]/__tests__/route.test.ts
  apps/web/src/app/api/admin/persons/[id]/route.ts
  apps/web/src/app/api/persons/me/__tests__/route.history.test.ts
  apps/web/src/app/api/persons/me/route.ts
  apps/web/src/lib/__tests__/export-pdf.test.ts
  apps/web/src/lib/__tests__/export-xlsx.test.ts
  apps/web/src/lib/export-pdf.ts
  apps/web/src/lib/export-xlsx.ts
  tasks/todo.md
Due: eslint --fix, prettier --write

overlap: separaciones minimas entre partidos consecutivos
  apps/web/src/lib/__tests__/schedule-conflicts.test.ts
  apps/web/src/lib/overlap.ts
  apps/web/src/lib/schedule-conflicts.ts
Due: eslint --fix, prettier --write

solver: cap de carga POR FRANJA por defecto + elegibilidad afinada
  apps/web/src/app/(admin)/asignacion/asignacion-view.tsx
  apps/web/src/lib/__tests__/__fixtures__/solver-fingerprint-baseline.json
  apps/web/src/lib/__tests__/__fixtures__/solver-fingerprint-jornada-real.json
  apps/web/src/lib/__tests__/competition-fine-category.test.ts
  apps/web/src/lib/__tests__/referee-roster.test.ts
  apps/web/src/lib/competition-fine-category.ts
  apps/web/src/lib/fbm-calendar/__tests__/category-coverage.test.ts
  apps/web/src/lib/referee-eligibility.ts
  apps/web/src/lib/solver.ts
Due: eslint --fix, prettier --write

docs: cap por franja, separaciones minimas y elegibilidad
  CLAUDE.md
  tasks/lessons-archive.md
  tasks/lessons.md
  tasks/todo.md
Due: prettier --write

docs: cierra el pendiente de commit y anota el test rojo de optimize
  tasks/todo.md
Due: prettier --write

optimize: sin rango designa la jornada, no la temporada entera
  apps/web/src/app/api/optimize/__tests__/optimize-range.test.ts
  apps/web/src/app/api/optimize/route.ts
  apps/web/src/lib/types.ts
  tasks/todo.md
Due: eslint --fix, prettier --write

bench: barrido de cobertura de las 29 jornadas con cap por franja
  apps/web/src/lib/__tests__/coverage-sweep.bench.test.ts
  tasks/todo.md
Due: eslint --fix, prettier --write

docs: acota que mide la columna de segundos del barrido
  tasks/todo.md
Due: prettier --write

docs: flujo de procesos TO-BE del ciclo completo de designacion
  tasks/flujo-procesos-designaciones.md
  tasks/todo.md
Due: prettier --write

docs: tabla de cobertura en imagen y flujo de procesos en Word
  tasks/Flujo-de-procesos-Designaciones-FBM.docx
  tasks/cobertura-jornadas-2026-07-25.jpg
Due: none

docs: leccion sobre varianza al medir rendimiento
  tasks/lessons.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: apps/web/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: apps/web/**/*.{js,jsx,ts,tsx}) or (any of: scripts/**/*.{ts})) or (any of: *.{json,md,css})
